In [71]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder,PolynomialFeatures

In [52]:
data=pd.read_csv("drug200.csv")
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [54]:
data.isnull().sum(axis=1).sum()

0

In [55]:
le=LabelEncoder()
for column in ["Sex","BP","Cholesterol","Drug"]:
    data[column]=le.fit_transform(data[column])

In [56]:
data

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     4
1     47    1   1            0   13.093     2
2     47    1   1            0   10.114     2
3     28    0   2            0    7.798     3
4     61    0   1            0   18.043     4
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     2
196   16    1   1            0   12.006     2
197   52    1   2            0    9.894     3
198   23    1   2            1   14.020     3
199   40    0   1            1   11.349     3

[200 rows x 6 columns]

In [57]:
data.isnull().sum(axis=1).sum()
y=data["Drug"]
x=data.drop(columns=["Drug"])

In [58]:
X_train, X_test, y_train, y_test =train_test_split(x,y,test_size=0.2,random_state=42)

In [59]:
dt=DecisionTreeClassifier(max_depth=4,criterion="gini")

In [60]:
dt.fit(X_train,y_train)
y_pred=dt.predict(X_test)
accuracy_score(y_test,y_pred)

1.0

In [69]:
lr=LogisticRegression()
lr.fit(X_train,y_train)
lr_predict=lr.predict(X_test)
accuracy_score(y_test,lr_predict)

C:\Users\ahmad\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8

In [88]:
poly=PolynomialFeatures(degree=2, include_bias=False)
x_poly=poly.fit_transform(X_train)
polydata_train=pd.DataFrame(x_poly,columns=poly.get_feature_names_out(),index=X_train.index)

xt_poly=poly.transform(X_test)
polydata_test=pd.DataFrame(xt_poly,columns=poly.get_feature_names_out(),index=X_test.index)

In [89]:
lr=LogisticRegression()
lr.fit(polydata_train,y_train)
lr_predict=lr.predict(polydata_test)
accuracy_score(y_test,lr_predict)

C:\Users\ahmad\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.775

In [79]:
X_test.index

Index([ 95,  15,  30, 158, 128, 115,  69, 170, 174,  45,  66, 182, 165,  78,
       186, 177,  56, 152,  82,  68, 124,  16, 148,  93,  65,  60,  84,  67,
       125, 132,   9,  18,  55,  75, 150, 104, 135, 137, 164,  76],
      dtype='int64')